[core]
    pager = cat
    excludesfile = ~/.gitignore
[user]
   signingkey = A35E131A4FE7073F
[commit]
    gpgsign = true
[status]
    submoduleSummary = true
[alias]
    ad = add --patch
    st = status
    ci = commit
    co = checkout
    br = branch
    bra = branch --all -vv
    cl = clone --recursive
    df = diff # not-staged
    dfs = diff --staged # staged
    dfa = status -vv # staged and not-staged
    dt = difftool --dir-diff
    mt = mergetool
    lg = log --reverse --date=iso --pretty=tformat:'%Cred%h%Creset | %Cgreen%ad %C(blue)%G? %an%Creset%C(yellow)%d%Creset | %s'
    lgs = log --date=iso --pretty=tformat:'%Cred%h%Creset | %Cgreen%ad %C(blue)%G? %an <%ae>%Creset%C(yellow)%d%Creset | %s' --graph
    sh = show --date=iso --pretty=format:'%Cred%h%Creset | %Cgreen%ad %C(blue)%GG %an <%ae>%Creset%C(yellow)%d%Creset | %s'
    tags = !git for-each-ref --format='%(if)%(committerdate)%(then)%(committerdate:iso)  %(refname:lstrip=2) %(else)%(*committerdate:iso)  %(refname:lstrip=2) %09  %(taggeremail) %(subject)%(end)' refs/tags | sort
[diff]
    tool = meld
    mnemonicPrefix = true
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[merge]
    tool = meld
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "meld"]
    cmd = meld $LOCAL $MERGED $REMOTE --output $MERGED
[rebase]
    abbreviateCommands = true
    instructionFormat = | %ad  %an | %s
[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto
[color "grep"]
    match = cyan bold
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = bold
    frag = bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[includeif "gitdir:~/git/"]
    path = ~/.gitconfig.git
[includeif "gitdir:~/work/"]
    path = ~/.gitconfig.work
