[user]
    name = Radar
    email = radar@aol.pl
[core]
    pager = cat
    excludesfile = ~/.gitignore
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --reverse --date=iso --pretty=tformat:'%Cred%h%Creset | %Cgreen%ad %C(bold blue)<%an>%Creset%C(yellow)%d%Creset | %s'
    lgs = log --reverse --date=iso --pretty=tformat:'%Cred%h%Creset | %Cgreen%ad %C(bold blue)<%an>%Creset%C(yellow)%d%Creset | %s' --name-status
    sh = show --date=iso --pretty=tformat:'%Cred%h%Creset | %Cgreen%ad %C(bold blue)<%an>%Creset%C(yellow)%d%Creset | %s'
    tags = tag -l --sort=version:refname
[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto
[color "grep"]
    match = cyan bold
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = bold
    frag = bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
