[core]
    pager = cat
    excludesfile = ~/.gitignore
[user]
    signingkey = 28D5ECB23C0ABE4DEAB241DDE79ABEBBDC15A429
[commit]
    gpgsign = true
[status]
    submoduleSummary = true
[alias]
    adp = add --patch
    adu = add --update
    br = branch
    bra = branch --all -vv
    ci = commit
    cl = clone --recursive
    df = diff # not-staged
    dfa = status -vv # staged and not-staged
    dfs = diff --staged # staged
    dfw = diff --word-diff
    dt = difftool --dir-diff
    lg = log --reverse --date=iso --pretty=tformat:'%C("#858661")%h%Creset | %C("#858661")%ad%Creset | %C("#E0646C")%G?%Creset | %C("#E0646C")%an%Creset |%Creset%C("#FFD24D")%d%Creset %s'
    ls = ls-tree --name-only -r
    mt = mergetool
    sh = show --date=iso --pretty=tformat:'%C("#858661")%h%Creset | %C("#858661")%ad%Creset | %C("#E0646C")%G?%Creset | %C("#E0646C")%an <%ae>%Creset |%Creset%C("#FFD24D")%d%Creset %B'
    st = status
    sw = switch
    tags = !git for-each-ref --format='%(if)%(committerdate)%(then)%(committerdate:iso)  %(refname:lstrip=2) %(else)%(*committerdate:iso)  %(refname:lstrip=2) %09  %(taggeremail) %(subject)%(end)' refs/tags | sort
[diff]
    tool = meld
    mnemonicPrefix = true
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[merge]
    tool = meld
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "meld"]
    cmd = meld $LOCAL $MERGED $REMOTE --output $MERGED
[pull]
    ff = only
[rebase]
    abbreviateCommands = true
    instructionFormat = | %ad  %an | %s
[tag]
    sort = version:refname
[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto
[color "branch"]
    current = "#65AC65"
    local = "#FFD24D"
    remote = "#E0646C"
[color "status"]
    header = "#999999"
    added = "#65AC65"
    changed = "#FFD24D"
    untracked = "#E0646C"
[includeif "gitdir:~/git/"]
    path = ~/.gitconfig.git
[includeif "gitdir:~/work/"]
    path = ~/.gitconfig.work
