# make auto-completion case-insensitive
set completion-ignore-case on

# complete symlinks to directories with a slash appended
set mark-symlinked-directories on

# match hidden files when completing filename
set match-hidden-files on

# list matches immediately instead of ringing the bell
set show-all-if-ambiguous on
set show-all-if-unmodified on

# append a filetype (*,/,@,=) to the filename when completing
set visible-stats on

# ring the terminal bell in a visible instead of audible way
set prefer-visible-bell on
set bell-style visible

# don't lock the terminal when searching history forward (owerwrite ctrl+s)
"\C-f": forward-search-history

# use ctrl+w to delete word
set bind-tty-special-chars off
"\C-w": backward-kill-word
